.maincontainer {
    position: relative;
    flex: 1;
    height: 100vh;
    padding: 60px 20px;
    overflow: overlay;
}

.maincontainer .title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0px;
}